
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            
            <th>Melon Name</th> 
            <th>Quantity</th>  
            <th>Price</th>  
            <th>Total</th>  
        </tr>
        </thead>
        <tbody>
        {% for melon in melon_lst %}
            <tr>
                
                <!-- melon id -->
                <td>{{ melon.melon_id }}</td>
                <!-- quantidade -->
                <td> {{ melon.qty }}</td>  
                <!-- preco unitario -->
                <td> {{ melon.price }}</td>
                <!-- preco unitario * quantidade -->
                <td> {{ melon.sub_total }}</td>  

            </tr>
        
            </tbody>
        </table>

        <h3> {{ total_cost }}</h3> {{ total_cost}}
    {% endfor %}

    <a href="/checkout" method="POST" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
